
___

<a href='https://www.darshan.ac.in/'> <img src='https://gtu.darshan.ac.in/Upload/Logo/DIET_Logo.svg' /></a>
___
<pre>
<center><b>Python for Data Science - 3150713</b></center>
<center><b>Lab - 5</b></center>    
<pre>

# 1)	Scrape the data of Faculty and news data from darshan university website.

# 2) Scrape the data of student placement from darshan university website.

# Write a python program to perform database operations on database using mysql and sqlite3.
1)	 Display Student table from database.<br>
2)	Insert new recode into student table by user.