
___

<a href='https://www.darshan.ac.in/'> <img src='https://gtu.darshan.ac.in/Upload/Logo/DIET_Logo.svg' /></a>
___
<pre>
<center><b>Python for Data Science - 3150713</b></center>
<center><b>Lab - 5</b></center>    
<pre>

# 1)	Scrape the data of Faculty and news data from darshan university website.

In [1]:
import bs4
import numpy as np
import pandas as pd
import requests

In [2]:
data = requests.get("https://www.darshan.ac.in/engineering/computer/faculty")
soup = bs4.BeautifulSoup(data.text,'html.parser')
allFaculty =  soup.select('body > main > div:nth-child(5) > div > div > div.col-lg-8.col-xl-9.g-font-size-14 > div > div')

In [18]:
for i in range(0,20):
    a = soup.find_all("span")[i].text.strip()
    print(a)

GTU Study Material
Government Licenses & Tie-ups
GTU Study Material
Government Licenses & Tie-ups
Dean - School of Computer Science
Ph.D. , M.E. (CE)
Experience
22+ Years
Working Since
Jul-2012
View Profile →
Professor
Ph.D. , M.E. (CE)
Experience
19+ Years
Working Since
Jul-2009

In [4]:
for t in allFaculty:
    name = t.select("h2")[0].text.strip()
    designation = t.select("span")[0].text.strip()
    education = t.select("span")[1].text.strip()
    experience = t.select("span")[3].text.strip()
    working_since = t.select("span")[5].text.strip()

    print(name, "-",designation, "-", education, "-", experience, "-", working_since)

Dr. Gopi Sanghani - Dean - School of Computer Science - Ph.D. , M.E. (CE) - 22+ Years - Jul-2012
Dr. Nilesh Gambhava - Professor - Ph.D. , M.E. (CE) - 19+ Years - Jul-2009
Dr. Pradyumansinh Jadeja - Associate Professor - Ph.D., M.E. (CE) - 17+ Years - Jul-2009
Prof. Maulik Trivedi - Assistant Professor - M.Tech. (CSE) - 14+ Years - Jun-2009
Prof. Dixita Kagathara - Assistant Professor - M.Tech. (Web Technology) - 13+ Years - Jul-2009
Prof. Rupesh Vaishnav - Assistant Professor - M.E. (CE) - 14+ Years - May-2013
Prof. Swati Sharma - Assistant Professor - M.Tech. (CSE) - 14+ Years - May-2013
Prof. Arjun Bala - Assistant Professor - M.Tech. (CSE) - 12+ Years - Jul-2013
Prof. Mayur Padia - Assistant Professor - M.E. (CE) - 14+ Years - Jul-2011
Prof. Vijay Shekhat - Assistant Professor - M.E. (CE) - 10+ Years - Jun-2012
Prof. Naimish Vadodariya - Assistant Professor - M.E. (CE) - 9+ Years - Jun-2015
Prof. UmeshKumar Thoriya - Assistant Professor - M.Tech. (CSE) - 9+ Years - Jul-2015
Prof. Jayesh Vagadiya - Assistant Professor - M.E (CE) - 7+ Years - Jul-2015
Prof. Krunal Vyas - Assistant Professor - M.Tech.(ICT), B.E. (EC) - 8+ Years - Jun-2018
Prof. Jay Dhamsaniya - Assistant Professor - PG Diploma (Software Development), B.Tech. (E.C.) - 10+ Years - Jul-2012
Prof. Mehul Bhundiya - Assistant Professor - BE (CE), ME (CE) - 8+ Years - Aug-2018
Prof. Vaseem Ghada - Assistant Professor - M.Tech (ICT), B.E (IT) - 13+ Years - Aug-2021
Prof. Hemang Chath - Assistant Professor - BE(CE), ME(CE - Pursuing) - 11+ Years - Sep-2021
Prof. Charvin Kothia - Assistant Professor - B.E. (CE) - 2+ Years - Nov-2020
Prof. Madhuresh Fichadiya - Assistant Professor - B.E.(CE) - 1+ Years - Jul-2021
Prof. Vishal Kansagara - Assistant Professor - M. TECH. (ICT) - 8+ Years - Nov-2021
Prof. Dharmik Vasiyani - Assistant Professor - ME(CE) - 5+ Years - Nov-2021
Prof. Shruti Maniar - Assistant Professor - ME(CE),BE(IT) - 6+ Years - Dec-2021
Prof. Bhushan Joshi - Assistant Professor - BE(EC), ME(EC Embedded Systems) - 5+ Years - Jun-2022
Prof. Devangi Kotak - Assistant Professor - M. Tech(CS), BE(IT), Diploma I.T. - 13+ Years - Jul-2022
Prof. Ekta Gevariya - Assistant Professor - ME(CE),B.Tech(IT) - 1+ Years - Jul-2022
Prof. Dolly Doshi - Assistant Professor - ME(EC) - 3+ Years - Aug-2022
Prof. KISHANKUMAR  JOGI - Assistant Professor - B.E.Electrical - 7+ Years - Aug-2022

In [5]:
#Fatching Data from the website
data = requests.get("https://www.darshan.ac.in/news-post/1147")
soup = bs4.BeautifulSoup(data.text,'html.parser')
news = soup.select("body > main > div:nth-child(5) > div > div > div.col-lg-8.g-mt-25 > div")

In [6]:
soup.select("p")[2].text

'Bureau of Indian Standards (BIS) Standard Club and Darshan University, Rajkot has organized an industrial visit at “Falcon Pump Pvt. Ltd.” on the date 08th July 2022. The objective of organizing such an event is to create awareness about the importance of BIS standard club activities like standard formation, standard certification & licensing procedures to the students. Initially, Mr. Aman Singh (BIS Promoting Officer) & Mr. Dhanraj Karad Sir (Scientist – B) from BIS has introduced the establishment of BIS standards and after that, they brought the students to visit the industry premises. In the industry premises, they helped students understand the practical application of the BIS standards in the industry.'

# 2) Scrape the data of student placement from darshan university website.

In [7]:
data = requests.get("https://www.darshan.ac.in/placement/list/engineering/computer/2023")
soup = bs4.BeautifulSoup(data.text, 'html.parser')
allstudents = soup.select("body > main > div:nth-child(5) > div > div > div.col-lg-8.col-xl-9.g-font-size-14.g-mb-30 > div.g-pt-20 > div.row.g-px-4.g-px-5--sm.g-px-5--md > div")

In [8]:
#name of students
print(len(soup.select("h2")))#got the lenth of student name
print(soup.select("h2")[1].text.strip())#got the firststudent
print(soup.select("h2")[139].text.strip())#got the last student

144
KATHANLUNAGARIYA
YASHRATHOD

In [9]:
# got the students' name
Studentname = []
for i in range(1,140):
    a = soup.select("h2")[i].text.strip()
    Studentname.append(a)
Studentname

['KATHANLUNAGARIYA',
 'DHAVALBERA',
 'SOHAMJOSHI',
 'IKSHIKACHOTAI',
 'DRASHTIATKOTIYA',
 'SWAPNILKATHIRIYA',
 'MIRAL SANGANI',
 'SURAJKUSHVAHA',
 'DRASHTIKANSAGARA',
 'SMITPIPARAVA',
 'RAJANPANDYA',
 'VATSALPATEL',
 'MIHIRKHUNT',
 'SUNNY MARTHAK',
 'JAYGOHEL',
 'ABHAYCHOTHANI',
 'KHYATIUPADHYAY',
 'NIYANTAAAMBALIYA',
 'SHREYGANDHI',
 'KRUTIBHIMANI',
 'SHREYAKANANI',
 'RUSHIKKARAVADIYA',
 'JENILVASOYA',
 'VASUDEDAKIYA',
 'SMIT VAGHASIYA',
 'MILANBHALODIYA',
 'RUSHITA SAVALIYA',
 'KASHYAPGINOYA',
 'SAVANSORATHIYA',
 'DIPALIBENBHUVA',
 'GAURAVVALA',
 'BHAVYLADANI',
 'VANSHILPATEL',
 'JEET PATEL',
 'SHUBHAMSHAH',
 'RADHIKARANGANI',
 'BURHANMAKDA',
 'OMGAJERA',
 'JAHNAVIDARANIA',
 'MAYURDHWAJSINHGOHIL',
 'BHAVISHAPANJWANI',
 'HIMANSHULADVA',
 'YASHSAVALIYA',
 'DARSHITKUMARGADHIYA',
 'KHUSHIDADHANIYA',
 'DIVYANSHURANPARIA',
 'CHINTANKANSAGARA',
 'KENILMENDAPARA',
 'NENCYMAKADIA',
 'JAYSOLANKI',
 'NAYANMEVA',
 'TEJMODI',
 'HASTIJASANI',
 'RAJLAKKAD',
 'VIVEKPATORIYA',
 'VANDITJOSHI',
 'AKASHPAMBHAR',
 'DHARMIKPARMAR',
 'SEJALGUPTA',
 'KEVINMUNGRA',
 'HARSHALKHAMBHADIYA',
 'HEMALIBEN SANANDIYA',
 'PRASADMEHTA',
 'PULINDIDHANESHA',
 'JAYKUMARMANSURIYA',
 'ISHANBHATT',
 'HARDIKCHOKSI',
 'BURHANBHARMAL',
 'DARSHIT SHAH',
 'KEVANGHORECHA',
 'JANVIBAHENJANI',
 'NAKSHIKALOLIA',
 'SHREYAOGANJA',
 'JAYDEEPMITHANI',
 'NILONI SONI',
 'ANURAGPINDORIYA',
 'DHAVAL GOHEL',
 'DHRUVKUNDALIYA',
 'RUTULSORATHIYA',
 'ISHAVAGHAMSHI',
 'DHRUVILDOBARIYA',
 'SHIVAMNANDA',
 'RINKLEADVANI',
 'PRIYAMODI',
 'PARTHDAMANI',
 'KRUSHNAJOSHI',
 'DEVANSHIMAKHECHA',
 'SMITKUMARPADSUMBIYA',
 'DIVYTHAKRAR',
 'VATSALBABARIYA',
 'SMITMESHVANIYA',
 'URMILPARSANIYA',
 'VIRAJBUSA',
 'MONIKABENDETROJA',
 'ABHAYKAMANI',
 'VARUNKESARIA',
 'VIVEKPARMAR',
 'DEVANGMEHTA',
 'KARANDAVDA',
 'DIGVIJAYNAKUM',
 'JAYDEVCHOTAI',
 'HARSHILDHOLAKIYA',
 'DARSHAYBHAYANI',
 'DEEPKANANI',
 'PARTHPANDYA',
 'DARSHANKANGAD',
 'SAHILVASANI',
 'SAKSHIBENPATEL',
 'SHYAMKADECHA',
 'PRARTHANAKARIYA',
 'DHAVALDOBARIYA',
 'HARSHALGAMI',
 'KALPGORECHA',
 'TIRTHANAKANSAGARA',
 'KEVINKANZARIYA',
 'SAHILKUMARKIKANI',
 'DHRUV PARMAR',
 'VIVEKPESHAVARIYA',
 'JAY PIPALIYA',
 'BHARGAVKUMARVACHHANI',
 'KEVALSARDHARA',
 'CHINTANKUMARSAKHIYA',
 'RUSHIKKUMARSUTARIYA',
 'RAHULSAVANI',
 'RITIKACHAUHAN',
 'RIDDHIPARMAR',
 'DHRUVIKANERIYA',
 'DHAIVATVAGHELA',
 'YASHJANANI',
 'DAXITBHUPTANI',
 'VISHWASADARIYA',
 'SAGARTANK',
 'JEELDETROJA',
 'VIVEKDUBARIYA',
 'PRINCEFALDU',
 'RUSHIKDARANIYA',
 'ISHITVASOYA',
 'KRUNALPATEL',
 'YASHRATHOD']

In [10]:
#checked the students' enrollment number manually 
print(len(soup.select("body > main > div:nth-child(5) > div > div > div.col-lg-8.col-xl-9.g-font-size-14.g-mb-30 > div.g-pt-20 > div.row.g-px-4.g-px-5--sm.g-px-5--md > div:nth-child(139) > article > div > p.g-color-gray-dark-v4.g-font-weight-500.g-font-size-15.g-mb-0.g-font-code")))

1

In [11]:
enrollment = []
for i in range(1,140):
    a = soup.select(f'body > main > div:nth-child(5) > div > div > div.col-lg-8.col-xl-9.g-font-size-14.g-mb-30 > div.g-pt-20 > div.row.g-px-4.g-px-5--sm.g-px-5--md > div:nth-child({i}) > article > div > p.g-color-gray-dark-v4.g-font-weight-500.g-font-size-15.g-mb-0.g-font-code')[0].text.strip()
    enrollment.append(a)
enrollment

['190540107121',
 '190540107007',
 '190540107085',
 '190540107030',
 '190540107005',
 '190540107106',
 '190540107181',
 '190540107116',
 '200540107516',
 '190540107171',
 '190540107148',
 '200540107523',
 '190540107109',
 '200540107519',
 '200540107520',
 '190540107032',
 '190540107209',
 '190540107001',
 '190540107064',
 '190540107014',
 '190540107092',
 '190540107102',
 '190540107222',
 '190540107043',
 '190540107214',
 '190540107008',
 '190540107186',
 '190540107068',
 '190540107200',
 '190540107018',
 '200540107517',
 '190540107117',
 '190540107165',
 '200540107504',
 '190540107190',
 '190540107173',
 '190540107128',
 '190540107060',
 '190540107039',
 '190540107070',
 '190540107149',
 '190540107118',
 '190540107187',
 '190540107057',
 '190540107036',
 '190540107174',
 '190540107097',
 '190540107136',
 '190540107124',
 '190540107197',
 '190540107137',
 '190540107138',
 '190540107079',
 '190540107120',
 '190540107167',
 '200540107510',
 '190540107146',
 '190540107153',
 '190540107073',
 '190540107139',
 '190540107108',
 '190540107180',
 '190540107135',
 '190540107048',
 '190540107131',
 '190540107011',
 '190540107029',
 '190540107010',
 '190540107189',
 '190540107067',
 '200540107507',
 '190544107001',
 '190540107143',
 '200540107512',
 '190540107198',
 '190540107169',
 '190540107069',
 '190540107114',
 '190540107199',
 '190540107213',
 '190540107051',
 '200540107518',
 '190540107002',
 '200540107522',
 '190540107037',
 '190540107083',
 '190540107129',
 '190540107144',
 '190540107206',
 '200540107503',
 '200540107506',
 '200540107513',
 '190540107021',
 '190540107046',
 '190540107089',
 '190540107107',
 '200540107521',
 '190540107134',
 '190540107041',
 '190540107141',
 '190540107031',
 '190540107049',
 '190540107012',
 '190540107091',
 '190540107147',
 '190540107096',
 '190540107220',
 '200540107505',
 '190540107087',
 '190540107103',
 '190540107050',
 '190540107063',
 '190540107072',
 '190540107098',
 '190540107100',
 '190540107111',
 '190540107155',
 '190540107168',
 '190540107170',
 '19054010721',
 '190540107183',
 '190540107179',
 '190540107202',
 '200540107508',
 '190540107023',
 '190540107159',
 '190540107094',
 '190540107215',
 '190540107078',
 '190540107017',
 '200540107501',
 '190540107205',
 '190540107045',
 '190540107053',
 '190540107054',
 '190540107040',
 '190540107221',
 '190540107163',
 '200540107524']

In [12]:
placement = []
for i in range(19,297):# starting from 19 
    if i%2==0: # studentdata is on even place 
        a = soup.select("span")[i].text.strip()
        placement.append(a)
placement

['20.00 Lac',
 '10.00 Lac',
 '8.00-9.00 Lac',
 '8.00-9.00 Lac',
 '8.00-9.00 Lac',
 '6.00-7.00 Lac',
 '6.00-7.00 Lac',
 '6.00-7.00 Lac',
 '6.00-7.00 Lac',
 '6.00-7.00 Lac',
 '6.00-7.00 Lac',
 '6.00 Lac',
 '4.80 Lac',
 '4.80 Lac',
 '4.80 Lac',
 '4.80 Lac',
 '4.80 Lac',
 '4.80 Lac',
 '4.80 Lac',
 '4.32 - 4.80 Lac',
 '4.32 - 4.80 Lac',
 '4.32 - 4.80 Lac',
 '4.32 - 4.80 Lac',
 '4.32 - 4.80 Lac',
 '4.50 Lac',
 '4.50 Lac',
 '4.50 Lac',
 '4.50 Lac',
 '4.50 Lac',
 '4.50 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.20 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '3.50-4.50 Lac',
 '3.50-4.50 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '3.00-5.00 Lac',
 '3.00-5.00 Lac',
 '3.00-5.00 Lac',
 '3.00-5.00 Lac',
 '3.00-5.00 Lac',
 '3.00-5.00 Lac',
 '3.00-5.00 Lac',
 '4.00 Lac',
 '4.00 Lac',
 '3.00-4.80 Lac',
 '3.84 Lac',
 '3.60-4.00 Lac',
 '3.50 - 4.00 Lac',
 '3.50 - 4.00 Lac',
 '3.50 - 4.00 Lac',
 '3.50 - 4.00 Lac',
 '3.50 - 4.00 Lac',
 '3.50 - 4.00 Lac',
 '3.50 - 4.00 Lac',
 '3.50 - 4.00 Lac',
 '3.72 Lac',
 '3.60 Lac',
 '3.60 Lac',
 '3.60 Lac',
 '3.60 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.50 Lac',
 '3.00-3.50 Lac',
 '3.00 Lac',
 '3.00 Lac',
 '3.00 Lac',
 '3.00 Lac',
 '3.00 Lac',
 '3.00 Lac',
 '3.00 Lac',
 '3.00 Lac',
 '3.00 Lac',
 'Confidential',
 'Confidential',
 'Confidential',
 'Confidential',
 '2.64 Lac',
 '2.64 Lac',
 '']

In [13]:
df = pd.DataFrame({
    'Student Name' : Studentname,
    'Enrollment number' : enrollment,
    'Placement' : placement
})

In [14]:
df

         Student Name Enrollment number      Placement
0    KATHANLUNAGARIYA      190540107121      20.00 Lac
1          DHAVALBERA      190540107007      10.00 Lac
2          SOHAMJOSHI      190540107085  8.00-9.00 Lac
3       IKSHIKACHOTAI      190540107030  8.00-9.00 Lac
4     DRASHTIATKOTIYA      190540107005  8.00-9.00 Lac
..                ...               ...            ...
134       PRINCEFALDU      190540107054   Confidential
135    RUSHIKDARANIYA      190540107040   Confidential
136       ISHITVASOYA      190540107221       2.64 Lac
137       KRUNALPATEL      190540107163       2.64 Lac
138        YASHRATHOD      200540107524

[139 rows x 3 columns]

# Write a python program to perform database operations on database using mysql and sqlite3.
1)	 Display Student table from database.<br>
2)	Insert new recode into student table by user.